<!DOCTYPE html>
<html>
	<head>
			<title><h1>Todos API server<h1></title>
	<head>
	<body><hr>
			<p>This is a todo api server using express.js and node.js - (all hard coded from scratch)<p>
	</body>
</html